@-moz-document
    domain("huya.com") {
  /* player-start */
  #videoContainer > div,
  #matchComponent2,
  .match-top,
  #room-footer,
  #match-cms-content,
  .mod-sidebar,
  #J_roomHeader,
  #videoContainer > #player-wrap > div,
  #videoContainer > #player-wrap > #player-video > *,
  #player-danmu-wrap,
  #player-full-input,
  #gift-show-btn,
  .player-report-btn,
  #shielding-effect,
  #player-subscribe-wap,
  .player-app-qrcode,
  .player-play-big,
  #J_spbg,
  .room-core-r,
  #banner {
    display: none !important;
  }

  #videoContainer > #player-wrap,
  #videoContainer > #player-wrap > #player-video,
  #videoContainer > #player-wrap > #player-video > video,
  #videoContainer > #player-ctrl-wrap {
    display: block !important;
  }

  #videoContainer > #player-wrap {
    height: 100% !important;
  }

  #liveRoomObj {
    width: 100vw;
    height: 100vh;
    position: fixed !important;
    left: 0 !important;
    right: 0 !important;
    top: 60px !important;
    bottom: 0 !important;
  }

  body.mode-page-full #liveRoomObj {
    top: 0 !important;
  }

  #player-ctrl-wrap {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    position: fixed;
    left: 0;
    transform: translateY(60px);
  }

  #duya-header {
    background-color: #1D1331;
  }

  .mod-index-main {
    margin-top: 80px;
  }

  @media (display-mode: fullscreen) {
    #player-ctrl-wrap {
      transform: translateY(0);
    }
  }
  /* player-end */

  /* list-start */
  .js-responded-list {
    margin-left: 0;
  }
  /* list-end */
}
